---
permalink: /site.webmanifest
eleventyExcludeFromCollections: true
---
{
    "lang": "{{ meta.lang }}",
    "dir": "{% if meta.direction %}{{meta.direction}}{% else %}ltr{% endif %}",
    "name": "{{ meta.title }}",
    "short_name": "{{ meta.title }}",
    "icons": [
        {
            "src": "/assets/images/favicon/android-chrome-192x192.png",
            "sizes": "192x192",
            "type": "image/png"
        },
        {
            "src": "/assets/images/favicon/android-chrome-384x384.png",
            "sizes": "384x384",
            "type": "image/png"
        }
    ],
    "theme_color": "#1a1a1a",
    "background_color": "#1a1a1a",
    "start_url": "/index.html",
    "display": "standalone",
    "orientation": "natural"
}
