h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 ($font-size-base * 1.2) 0;
	line-height: $line-height;
	text-rendering: optimizeLegibility;
	font-weight: 700;
	border-bottom: 1px solid $brand-color-primary;
}

article > .container {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		padding-top: $font-size-base * 1.5;
	}
}

h1 {
	font-size: $font-size-base * 2.1;
	font-weight: 500;
}

h2 {
	font-size: $font-size-base * 1.7;
	font-weight: 600;
}

h2, h4, h6 {
	font-style: italic;
}

h4, h5, h6 {
	margin-bottom: $font-size-base;
}

p {
	margin: 0;
	margin-bottom: $font-size-base * 1.2;
}

code {
	padding: 0.2em 0.2em 0.1em 0.2em;
}

pre {
	background-color: $bg-color-code;
	font-size: $font-size-base * 0.9;
	padding: $font-size-base;
	margin-bottom: $font-size-base;
	border-left: 4px solid $brand-color-primary;
}

blockquote {
	font-style: italic;
	font-size: $font-size-base * 1.1;
	margin: 0 0 ($font-size-base * 1.2) 0;
	padding: $font-size-base 0 $font-size-base ($font-size-base * 1.5);
	border-left: 4px solid $brand-color-primary;
	p:last-child {
		margin-bottom: 0;
	}
	em {
		font-style: normal;
	}
}

ul {
	margin-bottom: $font-size-base;
}

hr {
	margin: $font-size-base * 3 auto;
	width: 50%;
	color: $brand-color-primary;
}

// stuff from elsewhere

// a {
// 	color: $primary;
// 	text-decoration: none;
// 	&:hover {
// 		text-decoration: underline;
// 	}
// }

// small {
// 	color: $site-text-grey;
// }

// hr {
// 	border-bottom: 1px solid $site-text;
// }

// /* width */
// ::-webkit-scrollbar {
// 	width: 10px;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
// 	// background: #888; 
// 	background: $site-text-grey;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
// 	background: $primary;
// }

// figcaption {
// 	color: $site-text-grey;
// 	margin-top: bs(0.5);
// 	font-size: 80%;
// }

// dt {
// 	font-weight: 600;
// }
