nav {
	a {
		font-weight: 400;
	}

	a:hover {
		text-decoration: underline;
	}

	ol,
	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	li {
		padding: 0 $spacing-x / 2;
	}
}
