<!DOCTYPE html>
<html lang="{{ metadata.lang }}">
<head>
	{% include "meta.njk" %}
</head>
<body>
	{% iconsprite %}

	{% block header %}
	{% endblock %}

	{% block section %}
	{% endblock %}

	{% block footer %}
	{% endblock %}

	<script type="text/javascript" src="{{ '/_src/scripts/main.js' | url }}"></script>
</body>
</html>
