{% extends "./base.njk" %}

{% block header %}
	{% include "header.njk" %}
{% endblock %}

{% block section %}
	<section id="main">
		<article>
			{% include "title.njk" %}
			<div class="container">
				{% include "custom/section-before.njk" %}
				{{ content | safe }}
				{% include "custom/section-after.njk" %}
			</div>
			{% include "custom/outro-before.njk" %}
			{% include "outro.njk" %}
			{% include "custom/outro-after.njk" %}
		</article>
	</section>
{% endblock %}

{% block footer %}
	{% include "footer.njk" %}
{% endblock %}
