{% extends "./base.njk" %}

{% block header %}
	{% include "header.njk" %}
{% endblock %}

{% block section %}
	<section id="main-content">
		<article>
			{% include "custom/section-before.njk" %}
			{{ content | safe }}
			{% include "custom/section-after.njk" %}
		</article>
	</section>
{% endblock %}

{% block footer %}
	{% include "footer.njk" %}
{% endblock %}
