<a href="#main" class="sr-only">
	Skip to content
</a>

<header>
	<div class="container">
		{% include "custom/header-before.njk" %}

		{# Site Logo plus Site Title as home link #}
		<a href="{{ '/' | url }}">
			{% if metadata.bannerLogo %}
				<img src="{{ metadata.bannerLogo | url }}" alt="Logo">
			{% endif %}
			<span>{{ metadata.title }}</span>
		</a>
		{% set ariaLabel = "navigation" %}
		{% include "navigation.njk" %}

		{% include "custom/header-after.njk" %}
	</div>
</header>
