<a href="#main-content" class="sr-only">
	Skip to content
</a>

<header>
	{% include "custom/header-before.njk" %}

	{# Site Logo plus Site Title as home link #}
	<a href="{{ '/' | url }}">
		{% if metadata.bannerLogo %}
			<img src="{{ metadata.bannerLogo | url }}" alt="Site logo image">
		{% endif %}
		<span>{{ metadata.title }}</span>
	</a>
	{% set ariaLabel = "navigation" %}
	{% include "navigation.njk" %}

	{% include "custom/header-after.njk" %}
</header>
