<a href="#main-content">Skip to content</a>

<header>
	{% include "custom/header-before.njk" %}
	<a href="{{ '/' | url }}">
		<span>{{ title or metadata.title }} - Home</span>
		<span aria-hidden="true">{{ title or metadata.title }}</span>
	</a>
	{% set ariaLabel = "navigation" %}
	{% include "navigation.njk" %}
	{% include "custom/header-after.njk" %}
</header>
