<nav role="navigation" tabindex="-1">

	{# Navigation Links #}
	<ul>
	{%- for item in collections.all | eleventyNavigation -%}
		{%- set isCurrent = (item.url == page.url) -%}
		{%- set isParent = item.url != '/' and item.url in page.url -%}
		<li class="{% if isCurrent or isParent %}active{% endif %}">
			<a
				href="{% if isCurrent %}#main{% else %}{{ item.url | url }}{% endif %}"
				{% if isCurrent %}aria-current="page"{% endif %}
			>
				{{ item.title }}
			</a>
		</li>
	{%- endfor -%}
	</ul>

</nav>
