header {
	background-color: $brand-color-primary;
	padding: $spacing-y 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

	nav ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
