// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$breakpoints: (
    md: 670px,
    lg: 940px,
    xl: 1260px
);

$container-max-width: 1200px;
